<ion-header>
  <ion-toolbar>
    <ion-title>
     Page 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">

    <ion-card-header>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/2000px-Ionic_Logo.svg.png" alt=""/>
     
      <ion-card-title>Info about me</ion-card-title>
      <ion-card-content>My name: Yana</ion-card-content>
      <ion-card-content>My lastname: Belousova</ion-card-content>
      <ion-card-content>My age: 20 </ion-card-content>
      <ion-card-content>Number group: 301</ion-card-content>
      <ion-card-content>Speciality: Computer Science</ion-card-content>
    </ion-card-header>
    
  </ion-card>
</ion-content>